.env
.env.local
node_modules/
functions/node_modules/
scripts/node_modules/
mobile/node_modules/
.DS_Store
*.log
firebase-debug.log
functions/.env
functions/.env.local
functions/firebase-debug.log
functions/.DS_Store
